<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="robots" content="noindex">
    <meta name="theme-color" content="#EE3268">
    <link rel="manifest" href="manifest.json">
  </head>
  <body> <!-- ng-strict-di -->
    <div id="app-wrapper" ui-view></div>
    <div style="float: right">
      <script src="http://24timezones.com/js/swfobject.js" language="javascript"></script>
      <script src="http://24timezones.com/timescript/cities2_countries/maindata.js.php?city=1000376911" language="javascript"></script>
      <table><tr><td><div id="flash_container_tt55bc8ff56875b"></div><script type="text/javascript">
          var flashMap = new SWFObject("http://24timezones.com/timescript/clock_final.swf", "main", "250", "250", "7.0.22", "#FFFFFF", true)
          flashMap.addParam("movie",      "http://24timezones.com/timescript/clock_final.swf");
          flashMap.addParam("quality",    "high");
          flashMap.addParam("wmode",    "transparent");
          flashMap.addParam("flashvars",  "color=FFFFFF&logo=1&city=1000376911");
          flashMap.write("flash_container_tt55bc8ff56875b");
      </script></td></tr><tr><td style="text-align: center; font-weight: bold"></td></tr></table>
    </div>
  </body>
  <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('service-worker.js').then(function(registration) {
          // Registration was successful
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }).catch(function(err) {
          // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>
</html>
